<p id="notice"><%= notice %></p>

<h1>
  <%= @city.name %>
</h1>

<% @city.reviews do |review| %>
	<p>
		
	 <%= review.title %>
	</p>
	<p>
		
	<%= review.body %>
	</p>
<%end %>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
